{% extends 'base_generic.html' %}
{% block content %}
<div class="container py-4">
    <h2 class="mb-4">{{ form.instance.pk|yesno:"Update Record,Add New Record" }}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.zone.label_tag }} {{ form.zone }}
        </div>
        <div class="mb-3">
            {{ form.date.label_tag }} {{ form.date }}
        </div>
        <div class="mb-3">
            {{ form.recyclable_weight.label_tag }} {{ form.recyclable_weight }}
        </div>
        <div class="mb-3">
            {{ form.non_recyclable_weight.label_tag }} {{ form.non_recyclable_weight }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'waste_management:waste_type_record_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
